body {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.read-logo img{
    margin-left: 80%;
    width: 5%;
}

.read-logo p{
    text-align: right;
    padding-right: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.quote {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 4vw;
    width: 90vw;
    margin: auto;
    margin-top: 7%;
}

.author {
    font-family: Verdana, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2vw;
    width: 100vw;
}

.remark {
    font-family: cursive, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2vw;
    text-align: center;
    width: 70%;
    margin: auto;
}

.lds-circle {
    /* change color here */
    color: #1c4c5b
  }
  .lds-circle,
  .lds-circle div {
    box-sizing: border-box;
  }
  .lds-circle {
    display: inline-block;
    transform: translateZ(1px);
  }
  .lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    background: currentColor;
    border-radius: 50%;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  @keyframes lds-circle {
    0%, 100% {
      animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(1800deg);
      animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
      transform: rotateY(3600deg);
    }
  }

@media (max-width: 1300px)
  {
    .read-logo img{
        margin-left: 80%;
        width: 10%;
    }

    .read-logo p{
        text-align: right;
        padding-right: 5%;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    

    .quote {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 32px;
        text-align: center;
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }
    
    .author {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 18px;
        width: 100vw;
    }
    .remark {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        text-align: center;
        width: 70%;
        margin: auto;
    }
}